fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
networkx==3.4.2
geopandas==1.0.1
shapely==2.0.6
requests==2.32.3
python-dotenv==1.0.1
osmnx==2.0.0
